<h1>All Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>    	
	<%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>
<% if logged_in? %> 
<%= link_to "Create a New Article", new_article_path, class: "new_article" %>
<% end %>
<br>
<br>
<h5>Tags:</h5>
<ul id="tags">
  <% @tags.each do |tag| %>
    <li> <%= link_to tag.name, tag_path(tag) %> 
    	<% if logged_in? %>
    	<%= link_to "-delete tag",  tag_path(tag), method: :delete,data: {confirm: "Really delete this tag?"} %>
    	<% end %>
    </li>
  <% end %>
</ul>


